body {
  margin: 0;
  padding: 0; 
  display: flex;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  background-color: gray;
}

#title {
  text-align: center;
}

#canvas {
  width: 80vw;
  height: 90vh;
  align-self: center;
background-color: #fff;
}